---
import Layout from "@layouts/Layout.astro";
import ImageUpload from "@components/ImageUpload.astro";
import AnimatedRainbowText from "@components/AnimatedRainbowText.astro";
import Footer from "@components/Footer.astro";

import unfugLogoImage from "@images/unfug_logo.svg";
---

<Layout title="UnFUG LED Matrix">
  <main>
    <AnimatedRainbowText
      ><h1>
        UnFUG <img src={unfugLogoImage.src} alt="UnFUG Logo" /> LED Matrix
      </h1></AnimatedRainbowText
    >
    <h2>
      currently at <a href="https://entropia.de/GPN22" target="_blank">GPN22</a>
    </h2>
    <ul role="list" class="link-card-grid">
      <ImageUpload />
    </ul>
  </main>
  <Footer />
</Layout>

<style lang="less">
  main {
    margin: auto;
    padding: 1rem;
    width: 800px;
    max-width: calc(100% - 2rem);
    color: #eee;
    font-size: 20px;
    line-height: 1.6;
  }

  h1 {
    font-size: 4rem;
    font-weight: 700;
    line-height: 1;
    text-align: center;
    margin-bottom: 1em;
    margin: 0;

    img {
      height: 5rem;
      vertical-align: middle;

      filter: drop-shadow(0 0 5px rgba(255, 255, 255, 0.3));
    }
  }

  h2 {
    text-align: center;
    margin-bottom: 3rem;
  }

  a {
    text-decoration: underline;
    transition: 0.2s color;

    &:hover {
      color: var(--accent);
    }
  }

  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 2rem;
    padding: 0;
  }
</style>
