---
import { Icon } from "astro-icon/components";
---

<footer>
  <p>© 2024 UnFUG - HFU Furtwangen</p>
  <a target="blank" href="https://freiburg.social/@bassadin"
    ><Icon name="mdi:mastodon" /> <span>bassadin (frontend)</span></a
  >
  <a target="blank" href="https://unfug.social/@4censord"
    ><Icon name="mdi:mastodon" /> <span>4censord (backend)</span></a
  >
  <a target="blank" href="https://matrix.to/#/@sevenchords:matrix.org"
    ><Icon name="mdi:chat" /> <span>sevenchords (pixelart)</span></a
  >
</footer>

<style lang="less">
  footer {
    color: #eee;
    text-align: center;
    margin: 10px;
    width: 100%;

    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
  }

  p,
  a {
    padding: 5px;
    margin: 0 5px;
  }

  a {
    display: inline-block;
    display: flex;
    align-items: center;

    border-radius: 10px;

    transition: 0.2s background-color;

    &:hover {
      background-color: #eee3;
    }

    span {
      margin-left: 0.3rem;
    }
  }
</style>
