---
import "@uppy/core/dist/style.min.css";
import "@uppy/dashboard/dist/style.min.css";
import "@uppy/image-editor/dist/style.min.css";
---

<li class="card">
  <div class="flex-center">
    <h2>Upload your image here:</h2>

    <!-- <input
      type="file"
      id="file"
      name="file"
      accept="image/png, image/jpeg, image/gif, image/webp"
    /> -->

    <div id="uppy-file-upload"></div>

    <button class="upload-button">Upload</button>
  </div>
</li>

<script>
  import Uppy from "@uppy/core";
  import Dashboard from "@uppy/dashboard";
  import ImageEditor from "@uppy/image-editor";

  const uppyInstance = new Uppy({
    allowMultipleUploadBatches: false,
    autoProceed: true,
  })
    .use(Dashboard, {
      inline: true,
      width: "100%",
      height: 500,
      target: "#uppy-file-upload",
      hideUploadButton: true,
    })
    .use(ImageEditor, {
      cropperOptions: {
        aspectRatio: 1.33,
        croppedCanvasOptions: {},
      },
    });

  const baseUrl = import.meta.env.PUBLIC_API_BASE_URL;
  const imageUrl = `${baseUrl}api/image/scale`;
  const gifUrl = `${baseUrl}api/gif/scale`;

  const uploadButton = document.querySelector(
    ".upload-button"
  ) as HTMLButtonElement;

  uploadButton.addEventListener("click", async () => {
    try {
      const file = uppyInstance.getFiles()[0].data;
      if (!file) {
        throw new Error("Please select a file to upload");
      }

      const formData = new FormData();
      formData.append("file", file);

      const whatIsAGifArray = ["image/gif", "image/webp"];

      const requestUrl = whatIsAGifArray.includes(file.type)
        ? gifUrl
        : imageUrl;

      console.debug(`Uploading image to ${requestUrl}`);

      const response = await fetch(requestUrl, {
        method: "POST",
        body: formData,
      });

      if (response.status === 429) {
        throw new Error("429 - Too many requests. Please try again later.");
      }

      if (response.status === 413) {
        throw new Error(
          "413 - File too large. Please upload a smaller file. (Max: 1MB)"
        );
      }

      if (!response.ok) {
        const errorResponse = await response.json();
        throw new Error(`Failed to upload image, error: ${errorResponse}`);
      }

      alert("Image uploaded successfully");
    } catch (error: any) {
      alert(error.message);
    }
  });
</script>

<style lang="less">
  .card {
    list-style: none;
    padding: 1rem;
    background-color: #23262d;
    border-radius: 7px;
    background-position: 100%;
  }
  h2 {
    margin: 0;
    font-size: 1.25rem;
    transition: color 0.6s cubic-bezier(0.22, 1, 0.36, 1);
  }

  #uppy-file-upload {
    width: 100%;
  }

  .flex-center {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 1rem;
  }

  .upload-button {
    background-color: #f1f1f1;
    color: #23262d;
    padding: 0.5rem 1rem;
    border-radius: 7px;
    border: none;
    cursor: pointer;
    transition: background-color 0.2s;

    &:hover {
      background-color: var(--accent);
      color: #eee;
    }
  }
</style>
